body {
    width: 100%;
}

#container {
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.bg-image{
    content: "";
    background-image: url('./img/logo-transparent.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#left-info {
    /* border: 1px solid rgb(110, 5, 5); */
    border-right: 1px solid rgba(129, 24 , 24, 0.6);
    width: 25%;
    height: 85%;
    opacity: 1;
    position: fixed;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5%;
    line-height: auto;
}

#menu-info img, h2{
    text-align: center;
    margin-left: 20px;
}



#heading {
    border-bottom: 1px solid rgb(5, 5, 5);
    width: 70%;
    color: rgb(129, 24 , 24);
    margin: auto;
}

.menu-list {
    text-decoration: none;
    font-weight: 700;
    
}

.menu-list-item {
    margin-bottom: 20px ;
    margin-left: 5px;
    padding-top: 10px;
    width: 100%;
    height: 35px;
}

.menu-item1 {
    border-left: 5px solid  rgb(129, 24, 24);
    margin-top: 20px;
}

button{
    background-color: white;
    border: 1px solid  rgb(129, 24 , 24);
    padding: 15px;
    margin-bottom: 20px;
    font-weight: 700;
}

.icons{
    display: flex;
    justify-content: center;
}

.icon-item {
    margin: 7px;
}

.icon-item img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

#right-info {
    width: 70%;
    height: 100%;
    margin-left: 27%;
    padding-top: 70px;
}

section {
    border-bottom: 1px solid rgb(129, 24, 24);
    padding-bottom: 120px;
}

article {
    margin-bottom: 70px;
}

.page-number {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-right: 60px;
}

.page-number a {
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}